* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #111;
    color: #fff;
}
/* navbar */
navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    flex-wrap: wrap;
}


.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo a:hover {
    color: gray;
}

.nav-links a,
.actions a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
}

.nav-links a:hover,
.actions a:hover {
    color: gray;
}


.nav-links,
.actions {
    display: flex;
    align-items: center;
}